[submodule "odoo_l10n"]
	path = odoo_l10n
	url = git@bitbucket.org:blueorangegroup/odoo_l10n.git
	branch = 13.0
[submodule "odoo_l10n_uy"]
	path = odoo_l10n_uy
	url = git@bitbucket.org:blueorangegroup/odoo_l10n_uy.git
	branch = 13.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 13.0
[submodule "odoo_addons_others_uy"]
	path = odoo_addons_others_uy
	url = git@bitbucket.org:blueorangegroup/odoo_addons_others_uy.git
	branch = 13.0
